{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
{% endblock %}

{% block body %}
    {% include "navbar.html" %}

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <img src="profile.png" alt="">
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Registered Users</span>
                        <span class="number">20,120</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-code-branch"></i>
                        <span class="text">Total Relations</span>
                        <span class="number">50,120</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Total </span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">User ID</span>
                        {% for action in actions %}
                            <span class="data-list">{{ action.user }}</span>
                        {% endfor %}
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">User Email</span>
                        {% for action in actions %}
                            <span class="data-list">{{ action.email }}</span>
                        {% endfor %}
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Time</span>
                        {% for action in actions %}
                            <span class="data-list">{{ action.activityAt }}</span>
                        {% endfor %}
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        {% for action in actions %}
                            <span class="data-list">{{ action.type }}</span>
                        {% endfor %}
                        <span class="data-list">Added New Person</span>
                        <span class="data-list">New User</span>
                        <span class="data-list">Added New Person</span>
                        <span class="data-list">New User</span>
                        <span class="data-list">New User</span>
                        <span class="data-list">Modified a Person</span>
                        <span class="data-list">New User</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        {% for action in actions %}
                            <span class="data-list">{{ action.status }}</span>
                        {% endfor %}
                        <span class="data-list">Success</span>
                        <span class="data-list">Success</span>
                        <span class="data-list">Success</span>
                        <span class="data-list">Success</span>
                        <span class="data-list">Success</span>
                        <span class="data-list">Success</span>
                        <span class="data-list">Success</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock %}