{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <p>L</p>
            </div>

            <span class="logo_name">LineageLoom</span>
        </div>
        
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/tree">
                        <i class="fa-solid fa-folder-tree"></i>
                        <span class="link-name">Visualization</span>
                    </a>
                </li>
                <li>
                    <a href="/database">
                        <i class="fa-solid fa-database"></i>
                        <span class="link-name">Database</span>
                    </a>
                </li>
                <li>
                    <a href="/history">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="link-name">Activity</span>
                    </a>
                </li>
                <li>
                    <a href="/add_person">
                        <i class="fa-solid fa-plus"></i>
                        <span class="link-name">Add User</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}